<!DOCTYPE html>
<html>

<head>
    <title>Shared Buffer</title>
</head>

<script type="text/javascript">
    const TEXT_CHANGE_TIMEOUT = 500;

    window.onload = function () {
        const bufferTextarea = document.getElementById("buffer-textarea");
        bufferTextarea.timeout = null;
        const service = new WebSocket("wss://echo.websocket.org");

        service.onopen = function () {
            service.send(JSON.stringify({role: "editor"}));
        };

        service.onclose = function () {
            console.log("closed");
        };
        service.onerror = function () {
            console.log("error");
        };
        service.onmessage = function (event) {
            console.log("sent data are: " + event.data);
        };

        bufferTextarea.onkeydown = function (e) {
            clearTimeout(this.timeout);
            this.timeout = setTimeout(() => {
                const payload = JSON.stringify({text: this.value});
                service.send(payload);
            }, TEXT_CHANGE_TIMEOUT);
        };
    };
</script>

<body>
<textarea id="buffer-textarea" rows="4" cols="50"></textarea>
</body>

</html>
