<!DOCTYPE html>
<html>

<head>
    <title>Shared Buffer</title>
</head>

<script type="text/javascript">
    const TEXT_CHANGE_TIMEOUT = 500;

    getIdFromPath = function () {
        const pathComponents = window.location.pathname.split('/');
        return pathComponents[pathComponents.length - 1];
    };

    window.onload = function () {
        const bufferTextarea = document.getElementById("buffer-textarea");
        const publicKeyHolder = document.getElementById("public_url");

        bufferTextarea.timeout = null;
        const service = new WebSocket("ws://" + window.location.host + "/buffer/edit");
        service.onopen = function () {
            service.send(JSON.stringify({first_role: "editor"}));
        };
        service.onclose = function () {
            console.log("closed");
        };
        service.onerror = function () {
            console.log("error");
        };
        service.onmessage = function (event) {
            console.log("sent data are: " + event.data);
            const input = JSON.parse(event.data);
            console.log("parse: " + input.message);
            bufferTextarea.value = input.message;
        };

        bufferTextarea.onkeydown = function (e) {
            clearTimeout(this.timeout);
            this.timeout = setTimeout(() => {
                const payload = JSON.stringify({role: 'editor', buffer_id: getIdFromPath(), message: this.value});
                service.send(payload);
            }, TEXT_CHANGE_TIMEOUT);
        };
    };
</script>

<body>
<table>
    <tr><td>
       <textarea id="buffer-textarea" rows="4" cols="50"></textarea>
    </td></tr>
    <tr><td>
        <label id="public_url">Share this with your slaves:
            <a href="localhost:8000/buffer/read/{{ public_key }}">
                https://buffersonline.com/read/{{ public_key }}
            </a>
        </label>
    </td></tr>
</table>
</body>

</html>
