<!DOCTYPE html>
<html>

{% load static %}
<head>

    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Online Shared Buffer</title>

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet">
   <link href="{% static 'css/typing.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">
    <script src="{% static 'js/typing.js' %}"></script>
    <!-- Bootstrap core CSS -->

</head>

<body>
<h1 class="accent">
    <a href="" class="typewrite" data-period="2000"
       data-type='[
        "Hi, I am Online Shared Buffer.",
        "I Love to Code.",
        "I Love to Share."
        ]'>
        <span class="wrap"></span>
    </a>
</h1>
<br>
<br>
<div id="name">
<form action="new">
 <div class="form-group">


 <div class="form-group">

    <label for="name">Type new buffer name:</label>
<div class="row">
    <div class="col-sm-offset-4 col-sm-4">
    </div>
    <div class="col-sm-offset-4 col-sm-4">
        <div class="input-group">
            <input type="text" name="name" class="form-control" placeholder="Type new name here....." />
        </div>
    </div>
</div>
  </div>

<input type="submit" id="createnew" class="btn btn-info btn-lg" value="Create buffer" />
<br>
<br>

</div>
</form>
</div>
<br>
<br>
<div>
<h3> Last Shared Buffers </h3>
{% for l in links %}
    {{ l.name }}  <a href="/buffer/edit/{{ l.private  }}"> http://buffer/edit/{{ l.private }} </a> <br>
{% endfor %}
</div>
<script>
</script>
</body>
</html>
