<html>

{% load static %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Online Shared Buffer</title>
    
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/typing.css' %}" rel="stylesheet">


  </head>

<body>
<h1>
  OOPS! {{ msg }}

</h1>
<br>
<a href="/buffer" type="button" class="btn btn-info btn-lg">Go back</a>
<br>
<br>
<br>
<br>

</body>
</html>
